@import 'variables';
@import 'often';

* {
    box-sizing : border-box;
    
}

.main-width {
    max-width: 1050px;
    margin: 0 auto;
    padding-left: 3%;
    padding-right: 3%;
//    border: 1px dashed red;
}

body {
//    font-size: 16px;
}

/* ********************* START HEADER ************************* */

/* header */

@mixin rwd_img($width, $height) {
    height: 0;
    padding-bottom: percentage($height / $width);
    display: block;
}

header {
    background-image: url('../img/coverPhoto.jpg');
    background-size: 100% auto;
    width: 100%;
    @include rwd_img(1638px, 924px);
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    position: relative;
}

.header-container {
    display: flex;
    justify-content: center;

    
    .logo {
        background-image: url('../img/logo.png');
        background-size: 35% auto;
        background-position: center;
        width: 100%;
        @include rwd_img(966px, 140px);
        padding-bottom: 10.49275%;
        background-repeat: no-repeat;
    }
}

.text_header_container {
    
    h1 {
        color: white;
        font-size: 2em;
        font-weight: 300;
        text-align: center;
    }
    
    p {
        font-size: 1.15em;
        text-align: center;
        color: white;
        font-weight: 200;
        line-height: 1.50em;
    }
}

/* BUTTONS */

/* HOVERICONS SVG IMPLEMENTATION */

.cls-1, .cls-2, .cls-4 {
    fill: #fff;
    transition: 1s;
}

.cls-1 {
    stroke: #fff;
    stroke-linejoin: round;
    stroke-width: 4px;
    fill-opacity: 0.1;
}

.cls-1:hover {
    stroke: #9f449b;
    stroke-linejoin: round;
    stroke-width: 4px;
    fill-opacity: 1;
    fill: #9f449b;
}

.cls-1, .cls-2 {
    fill-rule: evenodd;
}

.cls-3, .cls-4 {
    font-size: 18px;
}

.cls-4 {
    text-anchor: middle;
    font-family: latoregular, sans-serif;
}

/*First row*/

.first_header_container {
    display: flex;
    justify-content: center;
    margin: 0;
    width: 100%;
    padding: 5% 0 0 0;
    
    .img_container {
        width: 16.6%;
    }
    
    svg {
        width: 75%;
        display: block;
        margin: 0 auto;
    }
}

/*Second row*/

.second_header_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 0 0 2% 0;
    
    .header_column {
        width: 16.6% * 2;
        display: flex;
    }
    
    .img_container {
        margin: 0;
        padding: 0;
        width: 50%;
    }
    
    svg {
        width: 75%;
        margin: 0 auto;
        display: block;
    }
}

/*Third row*/

.third_header_container {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 100%;
    position: absolute;
    bottom: 3%;
//    border: 1px solid red;
    left: 0;
    right: 0;
    
    .img_container {
        width: 16.6%;
//         border: 1px solid yellow;
    }
    
    svg {
        width: 25%;
        margin: 0 auto;
        display: block;
    }
}

/*************** END HEADER ****************** */



/************** NAVIGATION START **************** */

.navigation_content {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
}

.navigation_logo {
    width: 15%;
    min-width: 116px;
    padding: 3% 0 3% 0;;
}
    
.navigation_content {
    ul {
        display: flex;
        flex-flow: row;
        justify-content: center;
        
        li {
            padding: 1em;
            font-family: 'Lato', sans-serif;
            font-size: 1em;
            font-weight: 300;
            
            a {
                text-decoration: none;
                color: $main_grey;
                
                &:hover {
                color: $main_violet;
                }
            }   
        }   
    }
}

/*************** END NAVIGATION ****************** */



/************** FOUR_ICONS START **************** */

.four_icons {
    background-color: $grey_bg;
}

.four_icon_container {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
}

.four_icons_column{
    text-align: center;
    width: 25%;
    font-family: 'Lato', sans-serif;
    
    
    img {
        width: 50%;
        padding-top: 40%;
    }
    
    h2 {
        font-size: 1.5em; 
        color: $grey_text_color;
        padding: 14% 0;
        font-weight: 400;
    }
    
    p {
        color: $grey_text_color;
        padding-bottom: 55%;
        line-height: 1.9em;
        font-weight: 300;
    }
}

/*************** END FOUR_ICONS ****************** */



/*************** START ABOUT-US ****************** */

.about_us {
    background-color: white;
}

.about_content_container {
    display: flex;
    justify-content: center;
    padding: 10% 0 15% 0;
}

.devices_img {
    background-image: url(../img/devices_photo_23.png);
    background-size: 100% auto;
    width: 50%;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 31.73832%;
    margin-right: 3%;
}

.about_description {
    
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    
    p {
        max-width: 460px;
        font-family: 'Lato', sans-serif;
        font-weight: 300;
        line-height: 2em;
    }
        
    button {
        padding: 20px 45px;
        border: none;
        background-color: $main_violet;
        background-color: $main_violet;
        border-radius: 5px;

        &:hover {
            border-bottom: 2px solid #6b2e68;
        }

        a {
            text-decoration: none;
            font-size: 1.6em;
            color: white; 
        }
    }
}

/*************** END ABOUT-US ****************** */



/*************** START FIRST-QUOTE ****************** */

.first_quote {
    background-image: url(../img/quote_bg_26.jpg);
    background-size: 100% auto;
    width: 100%;
    @include rwd_img(1638px, 511px);
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid red;
    
    .quote_img {
        background-image: url(../img/quote_icon.png);
        background-size: 9% auto;
        width: 100%;
        padding-bottom: 10.69565%;
        background-position: center;
        background-repeat: no-repeat;
        border: 1px solid red;
        margin: 0 auto;
    }
    
    p {
        text-align: center;
        color: white;
        font-family: 'Lato', sans-serif;
        font-size: 3em;
        font-weight: 300;
        line-height: 2em;
        border: 1px solid red;
    }
}

/*************** END FIRST-QUOTE ****************** */



/*************** START OUR-TEAM ****************** */

#team_title {
    padding-top: 10%;
}

.team_buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 10%;
}

.left_button {
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 3px;
}

.right_button {
    background-image: url(../img/team_button_right.png);
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 3px;
    }

.team_container {
    display: flex;
    justify-content: space-around;
    flex-flow: row;
}

.person_container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    text-align: center;
    padding: 12% 0 0 0;
    font-family: 'Lato', sans-serif;
    line-height: 2em;
    
    .team_photo {
        height: 250px;
        width: 250;
        background-color: $light_grey;
        border-radius: 125px;
        min-width: 250px;
    }
    
    h3 {
        font-weight: 400;
        font-size: 1.4em;
        color: #484848;
        padding: 30% 0 5% 0;
    }
    
    p {
        font-weight: 300;
        color: #777777;
        padding: 0 0 10% 0;
    }
    
    a {
        padding: 3%;
    }
}

/*************** END OUR-TEAM ****************** */



/*************** START OUR-SKILLS ****************** */

.skillbar_container {
    
    width: 420px;
    
    .skillbar {
        width: 100%;
        height: 20px;
        border: 1px #111 solid;
    }
    
}










































